/** @format */

.HomeBanner {
	@apply relative flex items-center mt-[5.5rem] justify-center;
	height: calc(100vh - 5.5rem);
	&__bg-thumb {
		@apply w-full h-full  z-[-1]  absolute top-0 left-0;
	}

	&__info {
		@apply z-10  mt-[20rem];

		& > h1 {
			span {
				@apply uppercase text-white leading-[1.2] font-secondary;
                text-shadow: #000 -3px 1px 5px;
			}
			span:nth-child(1) {
				@apply italic block;
			}
			span:nth-child(2) {
				@apply text-primary font-[600] text-[4.5rem];
			}
			span:nth-child(3) {
				@apply text-[2rem] font-[500];
                
				
			}
		}
        &__buttons{
            @apply my-[3rem] flex justify-between;
        }
	}
}
