/** @format */

.button-link {
	@apply text-white text-[1.65rem] border-[0.2rem] transition-colors  border-white bg-transparent px-[3.7rem] font-semibold py-[0.9rem] rounded-[5rem];
    transition-duration: 0.5s;
    &.btn-white {
		@apply bg-white text-secondary;
		
	}
    &:hover{
        @apply bg-primary border-primary text-secondary ;
    }
}

.button-link-icon {
	@apply text-secondary text-[1.65rem] flex items-center w-fit justify-center ;

	&:after {
		@apply text-white transition-colors text-[1.1rem] text-center w-[2.8rem] h-[2.8rem] ml-[0.9rem]  rounded-full bg-secondary flex justify-center items-center;
		content: '\e902';
		transition-duration: 0.4s;
		font-family: 'icomoon';
		&:hover {
			@apply bg-primary;
		}
	}

	&.btn-white {
		@apply text-white;
		&:after {
			@apply text-secondary bg-white;
            &:hover {
                @apply bg-primary;
            }
        }
	}
}

.button{
    @apply text-secondary font-semibold underline underline-offset-4;
    
}
