.contact {
  @apply fixed w-full h-full pt-[2.7rem] px-[1.9rem] flex flex-col items-center;
  z-index: 999;
  background-image: url('/img/contact-bg.webp');
  background-size: cover;
  background-position: center;
  top: -330rem;
  transition: all 0.6s ease-in-out;

  @screen laptop {
    background-image: url('/img/contact-bg-desktop.webp');
    padding-top: calc(4.5rem * var(--scale));
    padding-bottom: calc(13.6rem * var(--scale));
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.show {
    top: 0;
  }

  &-close {
    @apply bg-white rounded-full min-h-[3.85rem] w-[3.85rem] h-[3.85rem] flex items-center justify-center;

    @screen laptop {
      width: calc(4.9rem * var(--scale));
      height: calc(4.9rem * var(--scale));
      min-height: calc(4.9rem * var(--scale));
    }

    i {
      @apply text-[#FF0000] text-[1.55rem];
    }
  }

  &-title {
    @apply font-secondary font-light text-[2.8rem] leading-[2.04rem] text-center text-black mt-[2.64rem];

    @screen laptop {
      font-size: calc(8rem * var(--scale));
      line-height: calc(8rem * var(--scale));
      margin-top: calc(9.8rem * var(--scale));
    }
  }
}

.contactForm {
  @apply mt-[4rem] z-30 flex flex-col gap-[3.17rem] w-full px-[1.5rem];

  @screen laptop {
    max-width: calc(98.6rem * var(--scale));
    margin-top: calc(8.7rem * var(--scale));
    gap: calc(6.1rem * var(--scale));
  }

  &-input {
    @apply relative flex flex-col gap-[1rem];

    @screen laptop {
      gap: calc(2.67rem * var(--scale));
    }

    label {
      @apply font-primary font-light text-[1.4rem] leading-[1.4rem];
      color: rgba(0, 0, 0, 0.5);

      @screen laptop {
        font-size: calc(1.7rem * var(--scale));
        line-height: calc(1.7rem * var(--scale));
      }
    }

    &-input {
      @apply bg-transparent h-[2.44rem] w-full font-primary font-light text-[1.5rem] leading-[1.5rem] relative text-black;
      border-bottom: 0.51px solid rgba(0, 0, 0, 0.5);

      @screen laptop {
        height: calc(5.2rem * var(--scale));
        font-size: calc(4rem * var(--scale));
        line-height: calc(4rem * var(--scale));
      }

      &::placeholder {
        @apply font-light text-[1.7rem] leading-[1.7rem];
        color: rgba(0, 0, 0, 0.5);

        @screen laptop {
          font-size: calc(4rem * var(--scale));
          line-height: calc(4rem * var(--scale));
        }
      }

      &.textarea {
        @apply h-[12.6rem] py-[0.7rem];

        @screen laptop {
          height: calc(34.7rem * var(--scale));
        }
      }
    }

    select {
      @apply bg-transparent font-primary font-light text-[1.5rem] leading-[1.5rem] relative text-black;
      border-bottom: 0.51px solid rgba(0, 0, 0, 0.5);

      @screen laptop {
        font-size: calc(4rem * var(--scale));
        line-height: calc(4rem * var(--scale));
      }

      option {
        background-color: transparent;

        &:first-child {
        }
      }
    }
  }

  .textA {
    textarea {
      @apply h-[15.1rem] py-[1rem] rounded-[0.5rem] bg-white w-full font-primary font-normal text-[1.5rem] leading-[2.25rem];
      border: 0.781px solid #0080cf;
      color: #0e0e0e;

      @screen laptop {
        height: calc(15.1rem * var(--scale));
        font-size: calc(1.8rem * var(--scale));
        line-height: calc(2.85rem * var(--scale));
        border: 1px solid #0080cf;
      }

      &::placeholder {
        @apply font-light text-[1.7rem];
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .form-button {
    @apply flex items-center justify-center;

    button {
      @apply rounded-full h-[3.65rem] px-[3.5rem] flex items-center justify-center uppercase font-primary font-medium text-[1.34rem] leading-[1.34rem] text-white;
      background: linear-gradient(#ff1400, #be0f00);

      @screen laptop {
        height: calc(5.8rem * var(--scale));
        font-size: calc(2.1rem * var(--scale));
        line-height: calc(2.1rem * var(--scale));
        padding-left: calc(9rem * var(--scale));
        padding-right: calc(9rem * var(--scale));
      }
    }
  }

  .Form-error {
    @apply text-[1.2rem] text-red-500;

    @screen laptop {
      font-size: calc(1.45rem * var(--scale));
    }
  }

  .feedback-message {
    color: #8fbc8f;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    display: block;

    &.failure {
      @apply text-red-500;
    }
    @screen laptop {
      font-size: calc(1.9rem * var(--scale));
    }
  }

  .select-service {
    @apply relative w-full;
    @screen laptop {
    }
    z-index: 1;
    &::before {
      content: '\e900';
      font-family: 'icomoon';
      position: absolute;
      @apply text-[0.8rem] top-[1.8rem] right-[1.5rem];
      color: #0080cf;

      @screen laptop {
        right: calc(1.91rem * var(--scale));
        font-size: calc(1rem * var(--scale));
        top: calc(1.9rem * var(--scale));
      }
    }
  }
}
