.modal-overlayCreate {
  @apply w-full h-full flex justify-center items-center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9999;
}

.modal {
  @apply relative bg-white rounded-[3.9rem] w-[90%] px-[1.4rem] pt-[5.1rem] pb-[3.5rem] flex flex-col items-center gap-[2rem];

  @screen tablet {
    @apply w-[70%];
  }

  @screen laptop {
    @apply w-[25%];
    gap: calc(3rem * var(--scale));
  }

  &-check {
    @apply bg-[#2CBE29] w-[4.7rem] h-[4.7rem] rounded-full absolute top-[-2rem] flex items-center justify-center text-white font-primary font-semibold text-[3rem];
  }

  &.confirmation {
    p {
      @apply text-center font-primary font-normal text-[1.8rem] leading-[2.5rem] text-[#212121];

      @screen laptop {
        font-size: calc(1.9rem * var(--scale));
        line-height: calc(2.5rem * var(--scale));
      }
    }

    button {
      @apply rounded-full px-[3rem] py-[0.7rem] text-white font-primary;
      background: linear-gradient(#ff1400, #be0f00);
      transition: all 0.3s ease;

      &:hover {
        @apply bg-black;
      }
    }
  }
}

.modal-container-leave-to {
  opacity: 0;
}

.modal-container-enter-active {
  animation: fadeInAndGrow 0.45s ease forwards;
}

.modal-container-leave-active {
  animation: fadeOutAndShrink 0.45s ease forwards;
}

/* Animations */

@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOutAndShrink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
