.Navbar {
  @apply fixed w-full top-0 right-0 pt-[5rem] pb-[2rem] bg-[#FEB700];
  border-radius: 0 0 1.5rem 1.5rem;
  transform: translateY(-120%);
  transition: transform 0.3s ease;
  z-index: 100;

  &.isActive {
    transform: translateY(0%);

    @screen laptop {
      transform: translateY(0);
    }
  }

  &-socials {
    @apply absolute top-[1.9rem] right-[7.7rem] flex gap-[1.38rem];
    i {
      @apply text-[2.54rem] text-primary;
    }

    @screen laptop {
      @apply hidden;
    }
  }

  &-logo {
    @apply absolute w-[13.5rem] h-[5.6rem] top-[0.7rem] left-[2.4rem] mt-0;

    @screen laptop {
      @apply hidden;
    }
  }

  &-ctn {
    @apply px-[1.8rem];
  }

  &-ul {
    margin-top: 2rem;
    @apply flex flex-col gap-[0.3rem] pt-[1.3rem] px-[0.9rem];
    border-top: 1px solid #424242;

    &-link {
      @apply rounded-[0.5rem];
      background-color: rgba(255, 255, 255, 0.15);
    }

    &-li {
      padding: 0.75rem 0;
      transition: color 0.5s ease;
      text-decoration: none;
      @apply px-12 relative cursor-pointer font-tertiary font-normal text-[1.6rem] leading-[2.4rem] text-[#302E5D] flex items-center pl-[4rem];

      &::before {
        content: '';
        @apply absolute left-[2.5rem] bg-[#302E5D] rounded-full w-[0.5rem] h-[0.5rem];
      }

      &.isActive {
        @apply font-bold;

        &::before {
          @apply w-[0.6rem] h-[0.6rem];
        }

        @screen laptop {
          @apply font-medium;

          &::before {
            @apply bg-secondary rounded-full;
            content: '';
            position: absolute;
            bottom: calc(-1rem * var(--scale));
            height: 7px;
            width: 7px;
            opacity: 1;
          }
        }
      }
    }
  }

  @screen laptop {
    @apply static inset-auto rounded-xl p-0  mx-auto flex items-center justify-end transform-none bg-transparent h-full;
    width: calc(150rem * var(--scale));

    &-ctn {
      @apply flex justify-end items-center;

      .Navbar-ul {
        @apply flex flex-row justify-end items-center m-0 p-0;
        gap: calc(20rem * var(--scale));
        padding-top: calc(1.9rem * var(--scale));
        padding-left: calc(10rem * var(--scale));
        padding-right: calc(10rem * var(--scale));
        border-top: 1px solid white;

        &-link {
          @apply bg-transparent;
        }

        &-li {
          @apply m-0 p-0 h-fit font-normal text-white relative flex justify-center uppercase font-secondary;
          border-top: 0;
          font-size: calc(1.8rem * var(--scale));
          line-height: calc(1.8rem * var(--scale));
          white-space: nowrap;

          &::before {
            @apply bg-[#FDD200] rounded-full;
            content: '';
            position: absolute;
            bottom: calc(-2rem * var(--scale));
            left: unset;
            height: calc(1.1rem * var(--scale));
            width: calc(1.1rem * var(--scale));
            opacity: 0;
            transition: all 0.3s ease;
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
